<div class="row">
  <div class="col-md-6">
    <nb-card accent="success" class="w-100">
      <nb-card-header>Lists</nb-card-header>
      <nb-card-body>
        <ngx-json-viewer [expanded]="false" [json]="view.lists"></ngx-json-viewer>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-6">
    <nb-card accent="success" class="w-100">
      <nb-card-header>Libraries</nb-card-header>
      <nb-card-body>
        <ngx-json-viewer [expanded]="false" [json]="view.libraries"></ngx-json-viewer>
      </nb-card-body>
    </nb-card>
  </div>
</div>