<div class="row">
  <div class="col-md-6">
    <nb-card accent="success" class="w-100">
      <nb-card-header>{{view.web?.Title}} - Host Web Properties</nb-card-header>
      <nb-card-body>
        <ngx-json-viewer [json]="view.web"></ngx-json-viewer>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-6">
    <nb-card accent="success" class="w-100">
      <nb-card-header>Webs ({{view.license?.type}} License)</nb-card-header>
      <nb-card-body>
        <ngx-json-viewer [expanded]="false" [json]="view.webinfos"></ngx-json-viewer>
      </nb-card-body>
    </nb-card>
  </div>
</div>